* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    padding-top: 25px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
}

.project-card {
    width: 300px;
    margin: 15px;
    border: 1px solid black;
    -webkit-box-shadow: 5px 5px 15px -2px #000000;
    box-shadow: 5px 5px 15px -2px #000000;
}

.project-body {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project-buttons {
    display: flex;
    justify-content: center;
}

.portfolio-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project-col {
    display: flex;
    justify-content: center;
}